@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

/* Estilos para el riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

/* Estilos para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}
